.svg-img--svg-sprites--clock {
	background: url(svg/sprite.css-9977e1e5.svg) 0 0 no-repeat;
}

.svg-img--svg-sprites--clock-dims {
	width: 150.67px;
	height: 150.67px;
}

.svg-img--svg-sprites--device {
	background: url(svg/sprite.css-9977e1e5.svg) 49.83627162372241% 0 no-repeat;
}

.svg-img--svg-sprites--device-dims {
	width: 150.67px;
	height: 150.67px;
}

.svg-img--svg-sprites--headphones {
	background: url(svg/sprite.css-9977e1e5.svg) 0 99.56386704552962% no-repeat;
}

.svg-img--svg-sprites--headphones-dims {
	width: 149.33px;
	height: 150.67px;
}

.svg-img--svg-sprites--link {
	background: url(svg/sprite.css-9977e1e5.svg) 49.17509138209242% 99.56386704552962% no-repeat;
}

.svg-img--svg-sprites--link-dims {
	width: 149.33px;
	height: 150.67px;
}

.svg-img--svg-sprites--mail {
	background: url(svg/sprite.css-9977e1e5.svg) 99.67254324744482% 0 no-repeat;
}

.svg-img--svg-sprites--mail-dims {
	width: 150.67px;
	height: 150.67px;
}

.svg-img--svg-sprites--pin {
	background: url(svg/sprite.css-9977e1e5.svg) 99.67254324744482% 99.56386704552962% no-repeat;
}

.svg-img--svg-sprites--pin-dims {
	width: 150.67px;
	height: 150.67px;
}

